.admin-layout {
  .ant-layout-header {
    $height: 52px;

    line-height: $height;
    height: $height;
    padding: 0 15px;
  }

  .ant-layout-content {
    background: #fff;
    padding: 0 15px;
  }

  &.-is-logedin {
    .ant-layout-content {
      background: #fff;
    }
  }

  .ant-layout-header {
    background: transparent;
  }

  ul {
    &.ant-menu {
      &.ant-menu-dark {
        background: transparent;
        $active-color: #1890ff;

        li {
          &.ant-menu-item {
            span {
              &.ant-menu-title-content {
                color: #001529;
              }
            }

            &:hover,
            &.ant-menu-item-selected {
              background-color: transparent;
              color: $active-color;

              span {
                &.ant-menu-title-content {
                  color: $active-color;
                }
              }
            }
          }

          &.ant-menu-submenu {
            .ant-menu-submenu-title {
              span {
                &.anticon-ellipsis {
                  color: #001529;
                }

                &:hover {
                  &.anticon-ellipsis {
                    color: $active-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
